body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .sidenav {
    display: block !important;
    position: sticky;
  }
  .w50 {
    width: 50vw;
  }
  .truncate {
    width: 140px;
  }
}

@media (min-width: 1024px) {
  .w50 {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  .truncate {
    width: 250px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

.sidenav {
  top: 0;
  left: 0;
  z-index: 1;
  height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #ececec;
  background-color: #fff;
  transition: 0.3s;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 767px) {
  .sidenav {
    position: fixed;
    padding-top: 20px;
    height: 100vh;
    width: 0;
  }
  .sidenav.Show {
    width: 100%;
  }
  .sidenav:not(.Show) .toggler {
    display: block;
  }
  .u-positionLeft20 {
    left: 20% !important;
  }
  .border0 {
    border: none !important;
  }
}

.u-positionLeft60 {
  left: 60% !important;
}

.toggler {
  position: fixed;
  top: 15px;
  left: 20px;
  display: none;
  transition: 1s;
}

.menu-item.is-active::before {
  content: "";
  background-color: #375de7;
  width: 5px;
  height: 46px;
  position: absolute;
  margin-top: -8px;
  left: -2px;
  display: inline-block;
}
